:root {
  --firstColor: #757575;
  --secondtColor: #ffffff;
  --colorHover: #2196f3;
  --colorDefault: #212121;
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --textcolor: #000000;
  --BGcolor: #2f303a;
  --bgsecendory: #f5f4fa;
  --icons-color: #afb1b8;
  --adventejisbgcolor: #f5f4fa;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--icons-color);
}
/* ==========================body======================= */
.backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.backdrob {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease ;
}
.modal {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--secondtColor);
  border-radius: 4px;
  padding: 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--secondtColor);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.contact-form {
  max-width: 448px;
  margin: 0 auto;
}

.no-skroll {
  overflow: hidden;
}
.modal-colse-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondtColor);
}
.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--textcolor);
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.modal-colse-button:hover .close-icon {
  fill: var(--colorHover);
  transform: scale(1.2);
}
.modal-titel {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
  margin-bottom: 12px;
}
.person-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.regidter-name:hover .person-icon {
  fill: var(--colorHover);
}
.regidter-name:focus-within {
  fill: var(--colorHover);
}
.regidter-name:hover,
.regidter-name:focus-within {
  border: 1px solid var(--colorHover);
  border-radius: 4px;
}
.form-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--firstColor);
}
.regidter-name {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
  width: 100%;
}
.modal-regidter:last-of-type {
  margin-bottom: 20px;
}
/* =======================================message============================ */

/* ================================text-adree==========================/ */
.agree-icon {
  width: 16px;
  height: 16px;
}
.register-text {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--firstColor);
  margin-bottom: 30px;
}
.text-agree-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--colorHover);
}
.subscribes-hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondtColor);
  padding: 10px 52px;
  background-color: var(--colorHover);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  transition: background-color 250ms var(--transition);
}
.subscribes-hero-btn:hover {
  background-color: #0871c6;
}
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messeg-container {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  max-width: 448px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.messeg-container:hover,
.messeg-container:focus-within {
  border: 1px solid var(--colorHover);
  border-radius: 4px;
}
.register-message {
  margin: 12px 16px;
  resize: none;
  min-height: 96px;
  width: 100%;
  max-width: 416px;
  min-width: 416px;
}
.agree-checkbox {
  width: 16px;
  height: 15px;
  background-color: var(--textcolor);
}
