* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
button {
  outline: 0;
  border: 0;
  font-family: inherit;
}
img {
  display: block;
  width: 100%;
}
input {
  border: 0px;
  outline: none;
}
button {
  cursor: pointer;
}
textarea {
  border: 0px;
  outline: none;
}
/* a {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input {
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
svg {
  transition-property: background-color, color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
article {
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
