body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}
.header {
  max-width: 1200px;
  margin: auto;
}
.header-span1 {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.span-header {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000;
}
.header-a1 {
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 15px;
  width: 145px;
  height: 31px;
}
.list {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list {
  display: flex;
  justify-content: end;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.list-a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.list-a-1 {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-1 {
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.nav-a {
  text-decoration: none;
}

.header-item {
  list-style-type: none;
}
.item {
  list-style-type: none;
}
.header0 {
  display: flex;
  justify-content: space-around;
}
.block {
  background-color: #2f303a;
  height: 600px;
  max-width: 1600px;
  margin: auto;
}
.block {
  display: flex;
  justify-content: space-between;
}
.main-titel {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  color: #fff;
  width: 696px;
  height: 120px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.div-button {
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
  width: 216px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.section {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.section-list {
  list-style-type: none;
}
.photo-titel {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
  padding-top: 94;
}
.photo-div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cards-titel {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 188px;
  padding-bottom: 50px;
}
.photo-divv {
  max-width: 1200px;
  margin: auto;
  display: flex;
  width: 1170px;
  height: 368px;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}
.card {
  width: 270px;
  height: 260px;
}
.photo-container {
  width: 1170px;
  height: 386px;
}

.footer {
  background-color: #2f303a;
  max-width: 1600px;
  margin: auto;
}
.a {
  max-width: 1200px;
  margin: auto;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: flex;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  padding-left: 15px;
}
.span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #fff;
  padding-left: 15px;
}
.footer-list {
  max-width: 1200px;
  margin: auto;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;

  padding-left: 15px;
}
.item-spam {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}
.item-spam1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list {
  list-style-type: none;
}
