/*==============================color====================================*/
:root {
  --firstColor: #757575;
  --secondtColor: #ffffff;
  --colorHover: #2196f3;
  --colorDefault: #212121;
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --textcolor: #000000;
  --BGcolor: #2f303a;
  --bgsecendory: #f5f4fa;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--colorDefault);
}
/*=================================color===================================*/

/*==================header====================*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colorHover);
}
.logo-part-header {
  color: var(--textcolor);
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--colorHover);
}
.contakts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--firstColor);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--BGcolor);
  color: var(--secondtColor);
  margin-bottom: 94px;
}
.hero-titel {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondtColor);
}
.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  color: var(--secondtColor);
  background-color: var(--colorHover);
}

/*================================main===========================*/
.adventeges-titel {
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10pxss;
}
.adventeges-text {
  letter-spacing: 0.03em;
  line-height: 1.71429;
  color: var(--firstColor);
}
.adventeges {
  margin-bottom: 94px;
}
.work {
  padding-top: 94px;
}
.work-titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.work-photo {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work {
  margin-bottom: 94px;
}
.team-titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
  margin-bottom: 50px;
}
.team {
  padding-bottom: 94px;
  background: var(--bgsecendory);
}
.teamate {
  display: flex;
  justify-content: center;
  width: 1170px;
  height: 368px;
  gap: 30px;
}

.teammete-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.teammete-role {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--firstColor);
}
/*=======================footer===================================*/
.footer {
  padding-top: 60px;
  background-color: var(--BGcolor);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colorHover);
}
.logo-part {
  color: var(--secondtColor);
}
.footer-link {
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--colorOpacity);
}
.adres {
  font-style: normal;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--secondtColor);
}
/*======================================portfolio===========================================*/
.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.portfolio-projekts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 94px;
  margin-bottom: 94px;
}
.prodjekt-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.prodjekt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--firstColor);
}
