/*==============================color====================================*/
:root {
  --firstColor: #757575;
  --secondtColor: #ffffff;
  --colorHover: #2196f3;
  --colorDefault: #212121;
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --textcolor: #000000;
  --BGcolor: #2f303a;
  --bgsecendory: #f5f4fa;
  --icons-color: #afb1b8;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--icons-color);
}
/*=================================color===================================*/

/*==================header====================*/
.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.header-contakts {
  display: flex;
  gap: 50px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colorHover);
}
.logo-part-header {
  color: var(--textcolor);
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--textcolor);
}
.nav-link:hover {
  color: var(--colorHover);
}
.contakts-item:hover .mailto {
  fill: var(--colorHover);
}
.mailto {
  width: 16px;
  height: 12px;
  fill: var(--firstColor);
}
.phone {
  width: 10px;
  height: 16px;
  fill: var(--firstColor);
}
.contakts-item:hover .phone {
  fill: var(--colorHover);
}
.contakts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contakts-item:hover .contakts-link {
  color: var(--colorHover);
}
.contakts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--firstColor);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(39, 40, 51, 0.455);
  background-image: url(../img/herobg-photo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--secondtColor);
  margin-bottom: 94px;
}
.hero-titel {
  margin: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondtColor);
}
.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  color: var(--secondtColor);
  background-color: var(--colorHover);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-btn-container {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
/*================================main===========================*/
.adventeges-list {
  display: flex;
  gap: 30px;
}
.adventeges-titel {
  color: var(--textcolor);
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10pxss;
}
.adventeges-text {
  letter-spacing: 0.03em;
  line-height: 1.71429;
  color: var(--firstColor);
}
.adventeges {
  margin-bottom: 94px;
}
.adventeges-item:first-child {
  padding-top: 150px;
  background-image: url(../img/whyone.svg);
  width: 270px;
  height: 120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.adventeges-item:last-child {
  padding-top: 150px;
  background-image: url(../img/whyfour.svg);
  width: 270px;
  height: 120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.three-chield {
  padding-top: 150px;
  background-image: url(../img/whythree.svg);
  width: 270px;
  height: 120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.two-chield {
  padding-top: 150px;
  background-image: url(../img/whytwo.svg);
  width: 270px;
  height: 120px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.work {
  padding-top: 94px;
}
.work-titel {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.img {
  max-width: 370px;
}
.work-photo {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work {
  margin-bottom: 94px;
}
.team-titel {
  padding-top: 94px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
  padding-bottom: 50px;
}
.teammete-photo {
  max-width: 270px;
}
.team {
  padding-bottom: 94px;
  background: var(--bgsecendory);
}
.teammets {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.teamate {
  display: flex;
  justify-content: center;
  width: 1170px;
  height: 368px;
  gap: 30px;
}
.teammete {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  background: var(--secondtColor);
  background-color: var(--secondtColor);
  padding-bottom: 30px;
}
.teammete-name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.teammete-role {
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--firstColor);
}
.partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 28px;
}
.partner-item:hover .partner-icon {
  fill: var(--bgsecendory);
}
.icon-container {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--colorHover);
}
.partner-icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
}
.partner-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==============klients======================== */
.klients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.klients-titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
}
.klients-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.klients-logo {
  width: 106px;
  height: 60px;
}
.klients-item {
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.klients-item:hover {
  border: 1px solid var(--colorHover);
}
.klients-logo {
  fill: var(--icons-color);
}
.klients-item:hover .klients-logo {
  fill: var(--colorHover);
}
/*=======================footer===================================*/
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--BGcolor);
}
.footer-logo-container {
  padding-bottom: 20px;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colorHover);
}
.logo-part {
  color: var(--secondtColor);
}
.footer-list {
  padding-top: 20px;
}
.footer-link {
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--colorOpacity);
  padding-bottom: 10px;
}
.adres {
  font-style: normal;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--secondtColor);
}
/* =================================================websit-icon============================ */
.footer-container {
  display: flex;
  gap: 70px;
}
.websit-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.websit-icons-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.websit-icons-link:hover {
  background-color: var(--colorHover);
}
.websit-icons-titel {
  color: var(--secondtColor);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.website-icon {
  height: 22px;
  width: 22px;
  fill: var(--secondtColor);
}
/*======================================portfolio===========================================*/
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorDefault);
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--bgsecendory);
}
.filter-button:hover {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--colorHover);
  padding: 6px 25px;
  color: var(--secondtColor);
}
.portfolio-container {
  padding: 24px 20px;
}
.portfolio-projekts {
  row-gap: 30px;
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.prodjekt-titel {
  color: var(--textcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.prodjekt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--firstColor);
}
.prodjekt {
  border: 1px solid #eee;
  flex-basis: calc((100% -60px) / 3);
}
.prodjekt:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
